<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="vue.jsを使ったTODOリスト">
  <!-- Twitterカード -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@guroguro33" />
  <meta property="og:url" content="https://kurosuke-web.com/todo/" />
  <meta property="og:title" content="ToDoリスト" />
  <meta property="og:description" content="vueを使ったシンプルなtodoリスト" />
  <meta property="og:image" content="https://kurosuke-web.com/todo/twitter-card.jpg" />
  <!-- googleフォント -->
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

  <title>ToDoリスト</title>
  <link rel="stylesheet" href="dist/css/app.css">
</head>
<body>

  <div class="main" id="app">
    <h1 class="main-title">ToDoリスト</h1>

    <search></search>

    <div class="list">
      <draggable tag="ul" v-bind="{animation:500, handle:'.list-text'}" v-model="lists">
        <transition-group name="list-animation">
          <li class="list-item bg-w" v-for="list in searchLists" :key="list.id"  v-if="!list.isDone">
            <img src="img/check_box_before.svg" class="icon-check" v-on:click="toggleDone(list)">
            <span class="list-text" @click="toggleEditMode(list)" v-if="!list.editMode">{{ list.text }}</span>
            <input type="text" class="list-text" v-model="list.text" @keyup.enter="toggleEditMode(list)" v-if="list.editMode">
            <img src="./img/delete.svg" class="trash" v-on:click="rmList(list)">
          </li>
        </transition-group>
        </draggable>
        
        <transition name="slideIn">
          <li class="list-item bg-w" v-if="isShowAdd">
            <input type="text" name="list-text" class="list-add" placeholder="タスクを入力してください" ref="text" v-on:keyup.enter="addList" autofocus>
          </li>
        </transition>

        <li class="list-item add" v-on:click="showAdd">
          <img src="img/add.svg" class="icon-add">
          <span>リストを追加</span>
        </li>
    </div>
    
    <div class="list-done">
      <h2 class="done-title">完了リスト</h2>
      <draggable tag="ul" v-bind="{animation:500, handle:'.list-text'}" v-model="lists">
        <li class="list-item bg-done" v-for="list in searchLists" :key="list.id" v-if="list.isDone">
          <img src="img/check_box-after.svg" class="icon-check" v-on:click="toggleDone(list)">
          <span class="list-text text-done">{{ list.text }}</span>
          <img src="./img/delete.svg" class="trash" v-on:click="rmList(list)">
        </li>
      </draggable>
    </div>

  </div>

<script src="dist/js/bundle.js"></script>
</body>
</html>