<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="ポートフォリオサイト">
  <!-- Twitterカード -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@guroguro33" />
  <meta property="og:url" content="" />
  <meta property="og:title" content="ToDoリスト" />
  <meta property="og:description" content="vueを使ったシンプルなtodoリスト" />
  <meta property="og:image" content="" />
  <!-- googleフォント -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

  <title>ToDoリスト</title>
  <link rel="stylesheet" href="dist/css/app.css">
</head>
<body>

  <div class="main" id="app">
    <h1 class="main-title">ToDoリスト</h1>

    <div class="search bg-w">
      <img src="./img/search.svg" class="search-icon">
      <input type="text" name="search" class="search-box" placeholder="検索" autocomplete="off" v-model="searchWord">
    </div>

    <div class="list">
      <ul>
        <li class="list-item bg-w" v-for="list in searchLists"  v-if="!list.isDone">
          <img src="img/check_box_before.svg" class="icon-check" v-on:click="toggleDone(list)">
          <span class="list-text">{{ list.text }}</span>
          <img src="./img/delete.svg" class="trash" v-on:click="rmList(list)">
        </li>
        
        <!-- todo:コンポーネント化した際にmountedメソッドで、初期フォーカスを与える -->
        <li class="list-item bg-w" v-if="isShowAdd">
          <input type="text" name="list-text" class="list-add" ref="text" v-on:keyup.enter="addList">
        </li>

        <li class="list-item add" v-on:click="showAdd">
          <img src="img/add.svg" class="icon-add">
          <span>リストを追加</span>
        </li>
      </ul>
    </div>
    
    <div class="list-done">
      <h2 class="done-title">完了リスト</h2>
      <ul>
        <li class="list-item bg-done" v-for="list in lists" v-if="list.isDone">
          <img src="img/check_box-after.svg" class="icon-check" v-on:click="toggleDone(list)">
          <span class="list-text text-done">{{ list.text }}</span>
          <img src="./img/delete.svg" class="trash" v-on:click="rmList(list)">
        </li>
      </ul>
    </div>

  </div>

<script src="dist/js/bundle.js"></script>
</body>
</html>