<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="vue.jsを使ったTODOリスト">
  <!-- Twitterカード -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@guroguro33" />
  <meta property="og:url" content="https://kurosuke-web.com/todo/" />
  <meta property="og:title" content="ToDoリスト" />
  <meta property="og:description" content="vueを使ったシンプルなtodoリスト" />
  <meta property="og:image" content="https://kurosuke-web.com/todo/twitter-card.jpg" />
  <!-- googleフォント -->
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

  <title>ToDoリスト</title>
  <link rel="stylesheet" href="dist/css/app.css">
</head>
<body>

  <div class="main" id="app">
    <h1 class="main-title">ToDoリスト</h1>

    <search></search>

    <div class="list">

      <draggable tag="ul" v-bind="{animation:500, handle:'.list-text'}" v-model="lists">
        <transition-group name="list-animation">
          <list-item v-for="list in searchLists" :key="list.id" :list="list" v-if="!list.isDone" @toggle-done="toggleDone" @toggle-edit="toggleEditMode" @rm-list="rmList"></list-item>
        </transition-group>
      </draggable>
        
      <list-add v-if="isShowAdd" @add-list="addList"></list-add>

      <toggle-add @show-add="showAdd"></toggle-add>

    </div>
    
    <div class="list-done">
      <h2 class="done-title">完了リスト</h2>
      <draggable tag="ul" v-bind="{animation:500, handle:'.list-text'}" v-model="lists">
        <list-item v-for="list in searchLists" :key="list.id" :list="list" v-if="list.isDone" @toggle-done="toggleDone" @toggle-edit="toggleEditMode" @rm-list="rmList"></list-item>
      </draggable>
    </div>

  </div>

<script src="dist/js/bundle.js"></script>
</body>
</html>